@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {


    body {
        direction: rtl;
        overflow: hidden;
        background-color: #EBEFFF;
    }
    body .sing{
        direction: ltr;
    }
    .logo{
        margin-left: 320px;
        margin-right: 20px;
    }
    @font-face {
    font-family: 'Vazirmatn-Black';
    src: url('/font/Vazirmatn-SemiBold.woff2') format('woff2'),
         url('/font/Vazirmatn-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Vazirmatn-Black', sans-serif;
}

.zarafe{
    background-color: rgb(256, 256, 256,0.3);
    }
}
/* زوم به 80٪ اگر مسیر "/admin" باشد */
@supports ((-webkit-touch-callout: none) or (-webkit-overflow-scrolling: touch)) and (not (overflow-anchor: none)) {
    body[data-page^="/admin"] {
        zoom: 80%;
    }
}

/* زوم به 100٪ برای سایر مسیرها */
body:not([data-page^="/admin"]) {
    zoom: 100%;
}


